@import "~normalize-scss/sass/normalize/_import-now.scss";
@import "@/styles/helpers.scss";
@import "@/styles/resets.scss";
@import "@/styles/layout.scss";
@import "@/styles/ui-elements/all.scss";

body {
  background: linear-gradient(-45deg, #9198e5, #ffdadb);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #454545;
}